.artist-card {
  background-color: #2b3035;
  border-radius: 0.25rem;
  color: rgb(255, 165, 207) !important;
  width: 100%;
}

.artist-card .edit-button {
  color: rgb(255, 165, 207) !important;
  border: 1px solid
}

.artist-card .edit-button:hover {
  background-color: rgb(255, 165, 207) !important;
  border: 1px solid;
  color: #2b3035 !important;
}

.artist-card .title {
  color: rgb(255, 165, 207) !important;
  font-weight: 800;
}

.artist-card .subtitle {
  color: rgb(255, 165, 207) !important;
  font-weight: 400;
}

.artist-card .delete-button {
  background-color: deeppink;
  border: none;
}

.artist-card .delete-button:hover {
  background-color: rgb(149, 8, 84);
}
